table {

    width: 100% !important;

    margin-left: 50%;

    transform: translateX(-50%);



}



.table {



    width: 55%;

    margin-left: 50%;

    transform: translateX(-50%);

    margin-bottom: 100px;


    max-height: 500px;

    overflow-y: scroll;

    overflow-x: hidden;





    /* Personnalisation de la barre de défilement */

    scrollbar-width: thin;

    /* Utilisé pour Firefox */

    scrollbar-color: transparent transparent;

    /* Utilisé pour Firefox */



    &::-webkit-scrollbar {

        width: 8px;

        /* Largeur de la barre de défilement */

    }



    &::-webkit-scrollbar-track {

        background: transparent;

        /* Couleur de fond de la piste */

    }



    &::-webkit-scrollbar-thumb {

        background: transparent;

        /* Couleur du "thumb" (poignée) */

        border-radius: 4px;

        /* Coins arrondis du thumb */

    }



    &:hover::-webkit-scrollbar-thumb {

        background: rgba(0, 0, 0, 0.3);

        /* Couleur du thumb lors du survol */

    }

}



h2.liste-reservation {

    font-size: 40px;



    text-align: center;

    color: #000000;

    margin-top: 100px;



}



th {

    text-align: center;

}



td {

    text-align: center;

}





button.btn.btn-light {

    background-color: #8041ff;

    color: white;

    font-family: "source-sans-pro", sans-serif;

    font-weight: bold;

    font-style: normal;

    transition: 0.2s ease-in-out;

}



button.btn.btn-light:hover {

    background-color: #292929;



}


a {
    text-decoration: none;
    color: white;
}


/* Add this to your admin.css file or your inline styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff; /* Add your desired background color */
    padding: 10px 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.navbar-left {
    font-weight: bold;
}

.navbar-right {
    display: flex;
    gap: 10px;
}

.btn-light a {
    text-decoration: none;
    color: #333; /* Change to your desired button text color */
}


button.btn.btn-light2 {

    background-color: #020202;

    color: white;

    font-family: "source-sans-pro", sans-serif;

    font-weight: bold;

    font-style: normal;

    transition: 0.2s ease-in-out;

}

button.btn.btn-light2:hover {

    background-color: #8041ff;

    color: white;

    font-family: "source-sans-pro", sans-serif;

    font-weight: bold;

    font-style: normal;

    transition: 0.2s ease-in-out;

}

/* Style your buttons as needed */
.image_groupe {
    width: 20%;
}
