body {
    margin: 0px;
    background-color: black;
    color: white;

}

/* ***********************************************   Nav  ************************************************** */
span.material-symbols-outlined {
    color: #ff5950;
    width: 24px;
    height: 24px;
}

.dropdown {
    position: relative;
    display: flex;
    transition: 2s ease-in-out;
}

.dropdown:hover {
    cursor: default;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    z-index: 1;
    transition: 1s ease-in-out;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    text-decoration: none;

    display: block;
    text-align: center;

}

.dropdown-content a:hover {
    color: #8041ffa6;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 20px;
    position: relative;
    z-index: 2;
}

a.btn.btn-light {
    background-color: #ff595056;
    border: none;
    width: 210px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 12px;
    padding-left: 12px;
    transition: 0.2s ease-in-out;
    font-family: "source-sans-pro", sans-serif;
}

a.btn.btn-light:hover {
    background-color: #ff59507a;
    color: white;
}

.liens-nav {
    padding-top: 5px;
    display: flex;
    align-items: center;
}

.home {
    display: flex;
    justify-content: space-around;
}


.liens-nav a {
    color: rgb(255, 255, 255);
    font-family: "source-sans-pro", sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    padding: 0px 40px 1px 3px;
}

p.programmation {
    color: rgb(255, 255, 255);
    font-family: "source-sans-pro", sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    display: inline;
    padding: 0px 40px 0px 3px;
    transition: 0.2s ease-in-out;
}

p.programmation:hover {
    color: rgb(197, 197, 197);

}

.dropdown-content a {
    padding: none;
}

.span-home {
    position: relative;
}

span.home {
    position: absolute;
    bottom: 5px;
    right: -3px;
}

.contact {
    display: flex;
    justify-content: space-around;
}

a.lien {
    transition: 0.2s ease-in-out;
}

a.lien:hover {
    color: rgb(197, 197, 197);
}

/* *********************************************** MAIN  ************************************************** */

body {
    margin: 0px;
    background-color: black;
    color: white;
}

h1 {
    color: rgb(255, 255, 255);
    font-family: "source-sans-pro", sans-serif;
    font-weight: bold;
    -webkit-background-clip: text;
    background-clip: text;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 133px;
    font-size: 79px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 183px;
}

input {
    width: 300px;
    height: 50px;
    margin-bottom: 15px;
    color: rgb(0, 0, 0);
    border-radius: 4px;
    border: none;
}

input.submit {
    transition: 0.2s ease-in-out;
    background-color: #8041ff;
    color: white;
    font-family: "source-sans-pro", sans-serif;
    font-weight: bold;
    font-size: 20px;
}

input.submit:hover {
    background-color: #ff5950;
    color: white;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.268);
    font-family: "source-sans-pro", sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding-left: 5px;
}

a.lien-form {
    color: rgb(255, 255, 255);
    font-family: "source-sans-pro", sans-serif;
    width: max-content;
    display: block;
    text-align: center;
    text-decoration: none;
    color: rgb(179, 164, 255);
    transition: 0.2s ease-in-out;
    margin-bottom: 260px;
    margin-left: 50%;
    transform: translateX(-50%);

}

a.lien-form:hover {

    color: #ff5950;
}

p.erreur {
    font-family: 'Roboto', sans-serif;
    color: rgb(179, 164, 255);
}