/* ***********************************************   Nav  ************************************************** */
span.material-symbols-outlined {
    color: #8041ffa6;
    width: 24px;
    height: 24px;
}

.dropdown {
    position: relative;
    display: flex;
    transition: 2s ease-in-out;
}

.dropdown:hover {
    cursor: default;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    z-index: 1;
    transition: 1s ease-in-out;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    text-decoration: none;

    display: block;
    text-align: center;

}

.dropdown-content a:hover {
    color: #ff5950;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 20px;
    position: relative;
    z-index: 2;

}

a.btn.btn-light {
    background-color: #ff595056;
    border: none;
    width: 210px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 0px;
    transition: 0.2s ease-in-out;
    font-family: "source-sans-pro", sans-serif;
}

a.btn.btn-light:hover {
    background-color: #ff59507a;
    color: white;
}

.liens-nav {
    padding-top: 5px;
    display: flex;
    align-items: center;
}

.home {
    display: flex;
    justify-content: space-around;
}


.liens-nav a {
    color: rgb(255, 255, 255);
    font-family: "source-sans-pro", sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    padding: 0px 40px 1px 3px;
}

p.programmation {
    color: rgb(255, 255, 255);
    font-family: "source-sans-pro", sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    display: inline;
    padding: 0px 40px 0px 3px;
    transition: 0.2s ease-in-out;
}

p.programmation:hover {
    color: #ff5950;

}

.dropdown-content a {
    padding: none;
}

.span-home {
    position: relative;
}

span.home {
    position: absolute;
    bottom: 5px;
    right: -3px;
}

.contact {
    display: flex;
    justify-content: space-around;
}

a.lien {
    transition: 0.2s ease-in-out;
}

a.lien:hover {
    color: #ff5950;
}

/* *********************************************** header   ************************************************** */

.img {
    position: relative;
    background-image: url(../img/image-from-rawpixel-id-5924378-jpeg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 404px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.682);
    z-index: 1;
}

.h1 {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.h1 img:last-child {
    transform: scaleX(-1);
}

h1 {
    color: white;
    font-family: "devils-haircut", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 99px;
}


/* *********************************************** Main ************************************************** */

h3 {
    text-align: center;
    font-size: 30px;
    font-family: "source-sans-pro", sans-serif;
    font-weight: bold;
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 20px;
}

.conteneur-forfait p.admission {
    text-align: center;
    font-size: 20px;
    font-family: "source-sans-pro", sans-serif;
    line-height: 13px;
    font-style: normal;
}

.conteneur-forfait p.admission2 {
    text-align: center;
    font-size: 20px;
    font-family: "source-sans-pro", sans-serif;
    line-height: 13px;
    font-style: normal;
    color: #888888;
}

.conteneur-forfait-reservation {
    display: flex;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 55%;
    margin-top: 62px;

}

.forfaits {
    width: 550px;
    height: 320px;
    margin-right: 25px;
    background-color: #292929;
    color: white;
    border-radius: 10px;

}

.info-conteneur {
    width: 200px;
    height: 120px;
    background-color: grey;
}



.forfaits .info {
    display: flex;
    justify-content: space-around;
    background-color: #8041ff;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 150;
    border-radius: 10px 10px 0px 0px;
}

.forfaits .info p {
    margin-bottom: 0px;

    font-family: "source-sans-pro", sans-serif;
    font-weight: bold;
    font-style: normal;
}

.forfaits .info p.nom {
    font-size: 25px;
    font-weight: 400;
}

.forfaits .info p.prix {
    font-size: 25px;
    font-weight: 400;
}

.forfaits .info p:first-child {
    margin-top: 25px;

}

.forfaits .info p:last-child {
    margin-bottom: 25px;

}

.forfaits .contenue {
    display: flex;
    justify-content: space-around;
    background-color: #292929;
    align-items: center;
    flex-direction: column;

}

.forfaits .contenue p {
    margin-bottom: 0px;
    font-family: "source-sans-pro", sans-serif;
    font-weight: bold;
    font-style: normal;
}



.forfaits .contenue p:first-child {
    margin-top: 25px;

}

.forfaits .contenue p:last-child {

    margin-bottom: 25px;
}

.forfaits .contenue:last-child {
    border-radius: 0px 0px 10px 10px;

}

a.reservation {
    display: block;
    text-decoration: none;
    font-family: "source-sans-pro", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 400px;
    background-color: #8041ff;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}

a.reservation:hover {
    background-color: #ff5950;
}




/* *********************************************** Footer    ************************************************** */

.img-footer {
    position: relative;
    background-image: url(../img/footer-picture.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.overlay-footer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.184);
    z-index: 1;
}

.logo-footer {
    position: relative;
    z-index: 2;
    width: 30%;
    margin-top: 9%;
    margin-left: 3%;
}

.info-footer {
    background-color: #111111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 329px;
}

.info-footer .info {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin-left: 89px;
}

h4 {
    font-family: "source-sans-pro", sans-serif;
}

.a-propos p {
    color: #888888;
    font-family: "source-sans-pro", sans-serif;
}

.nav-footer a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    transition: 0.2s ease-in-out;
    font-family: "source-sans-pro", sans-serif;
}

.nav-footer a:hover {
    color: #888888;
}

.billets-achat {
    margin-right: 89px;
}

.billets-achat p {
    text-align: center;
    line-height: 35px;
    font-family: "source-sans-pro", sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: white;
}

.billets-achat a.boutton {
    margin-left: 50%;
    transform: translateX(-50%);
    font-family: "source-sans-pro", sans-serif;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.copyright-reseau-sociaux {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 103px;
    background-color: black;
}

.copyright {
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.copyright p {
    color: #888888;
}

.copyright2023 {
    display: flex;
    margin-left: 50%;
    transform: translateX(-50%);
}

.copyright2023 p {
    color: #888888;
    margin-left: 5px;
}

.reseau-sociaux img {
    width: 25px;
    height: 25px;
    margin-right: 40px;
}

h4 {
    color: white;
}